<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #f8f4f4;
            color: #4695EB;
        }
        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>
<body>
<h1>Hello JJUG. This is {pageType}</h1>
<p>
    id: {idToken.tokenID}
</p>
<p>
    expiration: {idToken.getExpirationTime}
</p>
<p>
    issuedAt: {idToken.getIssuedAtTime}
</p>
<p>
    rawToken: {idToken.rawToken}
</p>
</body>
</html>